body {
  margin: 0;
  font-family: var(--dbru-font-family);
  color: var(--dbru-color-text);
  background-color: var(--dbru-color-bg);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
